<!DOCTYPE html>

<html>
<head>
    <title>Proyecto Osc</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
</head>

<body>
<nav class="nav navbar-default">
<div class="container" >
        <ul class = "nav nav-tabs" role="navigation">
            <li><a href="{% url 'app.views.main' %}">Inicio</a></li>
            <li><a href="{% url 'app.views.formulario' %}">Registro</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Eventos</a></li>
            <li class="pull-right"><a href="{% url 'app.views.contacto'%}">Contacto</a></li>


            <li class="pull-right"><a href="{% url 'app.views.admin' %}">Login</a></li>

        </ul>
    </div>
</nav >


<div class ="container">

<div class="contenido">

    {% block contenido %}{% endblock %}

</div>

</div>

<footer class="mainFooter"><p>Copyright (c) 2014 <a href="{% url 'app.views.main' %}">Abdul Hamid Achik Lopez</a></p>
</footer>


</body>
</html>
