{% extends "estructure.html" %}

{% block contenido %}
    <div class="container">

        <div class="header">
            <h1>Formulario de registro</h1>
        </div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label  > Nombre Organizacion*: </label>
                <input class="form-control" type="text" id="nombre" name="nombre" required/>
            </div>
            <div class="form-group">
                <label>Poblacion que atiende: </label>
                <input type="text" id="poblacion" name="poblacion" required/>
            </div>
            <div class="form-group">
                <label>Tipo de organizacion*:</label>
                <select id="tipo" name="tipo" required>
                    <option value="">Seleccione</option>
                    <option>Medio ambiente</option>
                    <option>Educacion</option>
                    <option>Arte, cultura y recreacion</option>
                    <option>Biblioteca</option>
                    <option>Museo</option>
                    <option>Radio</option>
                    <option>Club deportivo</option>
                    <option>Investigacion</option>
                    <option>Centros de educacion especial</option>
                    <option>Centros de educacion popular</option>
                    <option>Rehabilitacion y prevencion</option>
                    <option>Discapacidad</option>
                    <option>Servicios de asistencia</option>
                    <option>Centro de apoyo</option>
                    <option>Albergue</option>
                    <option>Asilo</option>
                    <option>Estancia infantil</option>
                    <option>Comedor comunitario</option>
                    <option>Derechos humanos</option>
                    <option>Promocion de voluntariado</option>
                    <option>Fundaciones donantes</option>
                    <option>Centros religiosos</option>
                </select>
            </div>
            <div class="form-group">
                <label>Areas de interes:</label>
                <input type="text" id="areainteres" name="areainteres" required/>
            </div>
            <div class="form-group">
                <label>Actividades:</label>

                <input type="text" id="actividades" name="actividades" required/>
            </div>
            <div class="form-group">
                <label>Recursos:</label>

                <input type="text" id="recursos" name="recursos"/>
            </div>
            <div class="form-group">
                <label>Direccion*:</label>
                <input type="text" id="direccion" name="direccion" required/>

            </div>
            <div class="form-group">
                <label>Fecha de establecimiento:</label>
                <input type="date" id="fecha" name="fecha"/>
            </div>

            <div class="form-group">
                <label>Pagina web:</label>
                <input type="text" id="web" name="web"/>

            </div>
            <div class="form-group">
                <label>Correo:</label>
                <input type="text" id="correo" name="correo"/>
            </div>

            <div class="form-group">
                <label>Telefono:</label>
                <input type="tel" id="tel" name="tel"/>
            </div>

            <div class="form-group">
                <label>Facebook:</label>
                <input type="text" id="facebook" name="facebook"/>

            </div>
            <div class="form-group">
                <label>Twitter:</label>
                <input type="text" id="twitter" name="twitter"/>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="Si"/>
                    Lunes
                </label>

                <label>
                    <input type="checkbox" value="Si"/>
                    Martes
                </label>


                <label>
                    <input type="checkbox" value="Si"/>
                    Miercoles
                </label>

                <label>
                    <input type="checkbox" value="Si"/>
                    Jueves
                </label>


                <label>
                    <input type="checkbox" value="Si"/>
                    Viernes
                </label>

                <label>
                    <input type="checkbox" value="Si"/>
                    Sabado
                </label>

                <label>
                    <input type="checkbox" value="Si"/>
                    Domingo
                </label>
            </div>
            <div class="form-group">
                <label>Horario de entrada: </label>
                <input type="time" name="horarioEntrada">

                <label>Horario de salida:</label>
                <input type="time" name="horarioSalida">
            </div>
            <div class="form-group">
                <label>Nombre de contacto*:</label>
                <input type="text" id="nombreContacto" name="nombreContacto"/>

            </div>
            <div class="form-group">
                <label>Numero de personas(staff):</label>
                <input type="text" id="numeroStaff" name="numeroStaff"/>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" value="SI"/>
                    Aceptas los terminos de condicion
                </label>
            </div>
            <button type="submit">Enviar</button>

        </form>
    </div>

{% endblock %}