{% extends "estructure.html" %}

{% block contenido %}

<div class="jumbotron">
  <h1>Proyecto OSC</h1>
  <p>captura de informacion de OSC laguneras</p>
  <p><a class="btn btn-primary btn-lg" role="button">Registrarte</a></p>
</div>
<div class="page-header">
  <h1>Organizaciones registradas <small>Haz click para mostrar mas informacion</small></h1>
<div class = "container">
    <div class="col-xs-4">
        <ul  class ="list-group">

            {% for organizacion in organizacion.object_list %}

           <li class="list-group-item">
               <a href="{% url 'app.views.organizacion' organizacion.pk %}">{{ organizacion.nombre }}</a>
           </li>

            {% endfor %}
        </ul>
    </div>


</div>
                <div class="nav">


                    {% if organizacion.has_previous %}
                        <p>Pagina {{organizacion.number}} de {{organizacion.paginator.num_pages}}
                    <a href="?page={{ organizacion.previous_page_number}}">Pagina anterior</a>

                    {% endif %}

                     {% if organizacion.has_next %}
                         <p>Pagina {{organizacion.number}} de {{organizacion.paginator.num_pages}}
                    <a href="?page={{ organizacion.next_page_number}}"> Pagina Siguiente</a>
                    {% endif %}</p>
                </div>
    </div>

{% endblock %}