
{% extends "estructure.html" %}
{% block contenido %}



<h2>Organizacion:</h2>
      <ul>
        <li><p>Nombre:</p> {{ organizacion.nombre }}</li>
        <li><p>Poblacion que atiende:</p> {{ organizacion.poblacion }}</li>
        <li><p>Tipo de organizacion:</p> {{ organizacion.tipo }}</li>
        <li><p>Direccion:</p>{{ organizacion.direccion }}</li>
        <li><p>Fecha de inicio:</p> <date>{{ organizacion.fecha }}</date></li>
        <li><p>Telefono:</p> {{ organizacion.telefono }}</li>
        <li><p>Horario de :</p><time>{{ organizacion.iniciohora}} </time>  a  <time> {{ organizacion.finhora }}</time></li>
        <li><p>Dias de trabajo:</p> {{ organizacion.dias }}</li>
        <li><p>Nombre de contacto:</p> {{ organizacion.nombrecontacto }}</li>
        <li><p>Numero de personas(Staff):</p> {{ organizacion.numeropersonas }}</li>
        <li><p>Recursos:</p> {{ organizacion.recursos }}</li>
      </ul>



{% endblock %}