
{% extends "estructure.html" %}
{% block contenido %}

<div class ="container">
<div class ="page header">
<h1>{{ organizacion.nombre }}</h1>
</div>

      <ul class ="list-group">
        <li class="list-group-item"><p>Poblacion que atiende:</p> {{ organizacion.poblacion }}</li>
        <li class="list-group-item"><p>Tipo de organizacion:</p> {{ organizacion.tipo }}</li>
        <li class="list-group-item"><p>Direccion:</p>{{ organizacion.direccion }}</li>
        <li class="list-group-item"><p>Fecha de inicio:</p> <date>{{ organizacion.fechainicio }}</date></li>
        <li class="list-group-item"><p>Telefono:</p> {{ organizacion.telefono }}</li>
        <li class="list-group-item"><p>Horario de :</p><time>{{ organizacion.iniciohora}} </time>  a  <time> {{ organizacion.finhora }}</time></li>
        <li class="list-group-item"><p>Dias de trabajo:</p> {{ organizacion.dias }}</li>
        <li class="list-group-item"><p>Nombre de contacto:</p> {{ organizacion.nombrecontacto }}</li>
        <li class="list-group-item"><p>Numero de personas(Staff):</p> {{ organizacion.numeropersonas }}</li>
        <li class="list-group-item"><p>Recursos:</p> {{ organizacion.recursos }}</li>
      <li class="list-group-item"><p>Actividades:</p>
         <ul >
         {% for actividades in organizacion.actividades.all %}
           <li >
           {{ actividades.nombre}}
           </li>

            {% endfor %}
         </ul>
      </li>
      <li class="list-group-item"><p>Areas de interes:</p>
         <ul >
         {% for areasinteres in organizacion.areas.all %}
           <li >
           {{ areasinteres.nombre}}
           </li>


            {% endfor %}

         </ul>
      </li>
      <li class="list-group-item"><p>Facebook:</p>
      {{ organizacion.facebook }}

      </li>
       <li class="list-group-item"><p>Twitter:</p>
      {{ organizacion.Twitter}}

      </li>
      <li class="list-group-item"><p>Correo:</p>
      {{ organizacion.correo }}

      </li>


      </ul>
</div>


{% endblock %}